@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    text-transform: capitalize;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* Navbar  */
.nav-link:hover{
    color: #3F87F5!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
/* Home  */
.front-page .carousel-caption{
    bottom: 100px !important;
}
.front-page .carousel-inner .carousel-item img{
    height: 90vh;
    object-fit: cover;
}
.btn-grey{
    background-color: #FDF4FA !important;
    border-radius: 20px !important;
}
.hot-plans{
    background: url(icons/watermark.svg) right no-repeat;
}
.item{
    list-style: none;
    padding: 0;
    margin: 20px;
    text-align: left;
}
.item li{
    padding: 7px 0 7px 10px;
    color: #000;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.container .item li::before{
    content: "\f00c";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #3F87F5;
    font-family: "Font Awesome 5 Free";
    font-weight: bolder;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background-color: #EDEBF8;

}

/* review  */
.review{
    margin: 100px 0;

}
.review .carousel-item{
    text-align: center !important;
    height: 450px !important;

}
.review .carousel-item img{
    width: 150px !important;
    border-radius: 50%;
}

.review .carousel-caption{
    z-index: -1 !important;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 0 0 15px 1px rgba(166, 163, 223, 0.5);
}
.review .carousel-caption h5{
    margin-top: 55px !important;
    font-weight: bold;
    color: #000;
}
.review .carousel-caption small{
    margin-top: 10px !important;
    display: block;
    margin-bottom: 50px !important;
    color: #000;
}
.review .carousel-inner .carousel-caption p{
    text-align: center;
    padding: 0 50px;
    font-size: 15px;
    margin-bottom: 50px;
    color: #808080;
}







/* media queries */
@media(min-width: 991px){
    .nav-item{
        border-bottom: none;
    }
    .navbar-brand{
        font-size: 10px;
    }
}

@media (max-width: 991px) {
    .navbar-brand{
        font-size: 15px !important;
        text-align: start;
    }
    .review .carousel-item{
        height: 500px !important;
    }
    .review .carousel-caption{
        margin: 0 10px 50px 10px !important;
        left: 0 !important;
        right: 0 !important;
    }
}
@media (max-width: 450px) {
    .front-page .carousel-caption h5{
        font-size: 16px !important;
    }
    .sm-btn{
        padding: 5px 10px !important;
        font-size: 16px;
    }
    .start-100{
        left: 50% !important;
    }
    .price .card-body{
        padding: 1rem 3rem !important;
    }
    .front-page .carousel-inner .carousel-item img{
        height: 60vh;
    }
    .front-page .carousel-caption{
        bottom: 40px !important;
    }
    .footer p{
        font-size: 16px;
    }
    .footer .w-25{
        width: 60% !important;
    }
}